.footer {
  max-width: 880px;
  width: 100%;
  margin: auto;
  margin-top: 67px;
}

.footer__paragraph {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

@media (max-width: 320px) {
  .footer {
    max-width: 320px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }

  .footer__paragraph {
    margin-left: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
  }
}
