.header {
  display: flex;
  max-width: 880px;
  width: 100%;
  margin: auto;
  padding-bottom: 41px;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.logo {
  margin-top: 45px;
  max-width: 173px;
  width: 100%;
  height: 33px;
}

@media (max-width: 800px) {
  .header {
    max-width: 700px;
  }
}

@media (max-width: 320px) {
  .header {
    display: flex;
    max-width: 880px;
    width: 100%;
    margin: auto;
    padding-bottom: 32px;
    height: 74px;
    border-bottom: 1px solid #545454;
  }

  .logo {
    margin-top: 28px;
    max-width: 126px;
    width: 100%;
    height: 24px;
    margin-left: 27px;
  }
}
