.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.confirm__card {
  position: relative;
  top: 30%;
  background-color: white;
  max-width: 430px;
  margin: auto;
  padding-left: 34px;
  padding-top: 36px;
  padding-right: 34px;
  padding-bottom: 36.51px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confirm__close {
  position: relative;
  top: 30%;
  width: 430px;
  margin: auto;
}

.confirm__button-close {
  position: relative;
  left: 80px;
  display: flex;
  justify-self: flex-end;
  background-image: url("../images/Close.png");
  background-repeat: no-repeat;
  border: none;
  background-color: #54545400;
  width: 40px;
  height: 40px;
  transform: rotate(0deg);
  cursor: pointer;
}

.confirm__tittle {
  color: black;
  margin-left: 30px;
}

.confirm__button {
  width: 100%;
  max-width: 358px;
  background-color: black;
  color: white;
  height: 50.15px;
  margin: auto;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  background-size: cover;
  cursor: pointer;
}
